@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Crimson+Text:wght@600&family=Montserrat&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  min-height: 100vh;
  background-image: url('bg/sean.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

form {
  max-width: 500px;
  width: 100%;
  background: #fff;
  margin: 20px auto;
  padding: 30px;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0, 0.05);
  background: #f887bc;
}

form h2 {
  font-size: 27px;
  text-align: center;
  margin: 0px 0 0px;
}

form .form-group {
  margin-bottom: 16px;
  position: relative;
}

form label {
  display: block;
  font-size: 15px;
  margin-bottom: 7px;
}

form input,
form select {
  height: px;
  padding: 10px;
  width: 100%;
  font-size: 15px;
  outline: none;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #bfbfbf;
}

form input:focus,
form select:focus {
  border-color: #9a9a9a;
}

form input.error,
form select.error {
  border-color: #f91919;
  background: #f9f0f1;
}

form small {
  font-size: 14px;
  margin-top: 5px;
  display: block;
  color: #f91919;
}

.submit-btn {
  margin-top: 30px;
}

.submit-btn input {
  color: white;
  border: none;
  height: auto;
  font-size: 16px;
  padding: 13px 0;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  text-align: center;
  background: rgba(5, 9, 14, 0.933);
  transition: 0.2s ease;
}

.wrapper .form .input_field .btn:hover {
  background: #98cfb0;
}